
/*CSS for the Every Page's Body Area*/
body{
	color: var(--primary-color); 
	background-color: var(--bg-color); 
	font-family: Roboto, sans-serif;
}
/*CSS for the Container Area on Index.Html*/
#container{
  margin-top: 100px;
	text-align: center;
	width: 450px;
	height: 475px;
}

a:hover{
  opacity: 0.7;
}
/*CSS for the Logo on Index.Html*/
#logo{
  width: 200px;
	text-align: center
  margin-bottom: -100px;
}

/*CSS for the build model block in Index.Html*/
#build{
	text-align: center;
	display: inline-block;
    padding: 0 10px;
    background: #d5a32d !important;
    line-height: 1.5;
    font-size: .875rem;
    color: #fff !important;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 2px;
    text-transform: uppercase;
}

/*CSS for the  Enter Classes Button in Index.Html*/
.buttonEnterClasses{
  font-family: Roboto, sans-serif;
  text-align: center;
  background-color: #d5a32d !important;
  color: #fff !important;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    border-radius: 5px;
    overflow: visible;
    font-family: Helvetica, sans-serif;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: .875rem;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: all;
    transition-property: color,background-color,border-color; 
    touch-action: manipulation;
}

.buttonEnterClasses a:hover {
  opacity:1;
}

  
/*Sidebar Style*/
.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 16px;
  margin-top: 1px;
  font-family: Roboto, sans-serif;
}

/*Sidebar Button Styles*/
.sidebar a {
  padding: 13.5px 18px 13.5px 24px;
  text-decoration: none;
  font-size: 20px;
  color: var(--primary-color);
  display: block;
}

/*hover Animations for sidebar buttons*/
.sidebar a:hover {
  color: #f1f1f1;
}

/*Sidebar Collection Area Paddings and Margins*/
.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

* {box-sizing: border-box}

/*End Sidebar CSS*/

/* The Slider Switch for Theme Change on Settings.Html*/
/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  

    margin-left: 650px;
    margin-top: 100px;
    font-size: 1rem;

}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #FFD700;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Sidebar Hype */

#homeDiv {
  padding-bottom: 30px;
}

#classesDiv {
  padding-bottom: 30px;
}

#loginDiv {
  padding-bottom: 30px;
}

#settingsDiv {
  padding-bottom: 30px;
}

#homeIcon {
  padding-right: 50px;
}

#classesIcon {
  padding-right: 50px;
}

#loginIcon {
  padding-right: 50px;
}

#settingsIcon{
  padding-right: 50px;
}

/*Data Themes*/
:root {
    --primary-color: #FFD700;
    --secondary-color: #D5A32D;
    --bg-color: #5F9EA0;
}


[data-theme="default"] {
    --primary-color: #FFD700;
    --secondary-color: #D5A32D;
    --bg-color: #5F9EA0;
}

[data-theme="dark"] {
    --primary-color: white;
    --secondary-color: grey;
    --bg-color: #222222;
}

[data-theme="gold"] {
    --primary: #FFD700;
}

[data-theme="blue"] {
    --primary: blue;
}

[data-theme="pink"] {
    --primary: pink;
}

[data-theme="purple"] {
    --primary: purple;
}

[data-theme="darkBlue"] {
    --primary: darkblue;
}

[data-theme="aqua"] {
    --primary: aqua;
}

[data-theme="lightGreen"] {
    --primary: lightgreen;
}

[data-theme="darkGreen"] {
    --primary: darkgreen;
}

[data-theme="red"] {
    --primary: red;
}


/*Settings.Html Primary Colours Styling*/
.primaryColours{
  text-align: center;

}

/*Bells.html Timer CSS Table Fix Up The Ugly Design*/

td {
    padding-right: 185px;
    padding-top: 40px;
      }

#times{
  text-align: left;
  margin-left: 300px;
  font-size: 20px;

}

#timer{
  font-size: 50px;
}

#period{
  margin-top: 40px;
  font-size: 15px;
}

.css-centre-outside {
  text-align: center;
  padding-top: 40;
}

.css-centre-inside {
  display: inline-block;
}






















